.flex-container {
     display: flex; 
    width: 200px;
     height: auto;
     margin: auto;
     
  }
  
  /* this selector selects all divs inside of .flex-container */
  .flex-container div {
    justify-content: center;
    text-align: center;
    align-items: center;
    background: peachpuff;
    border: 10px solid brown;
    height: 80px;
   
     flex: 1; 
     
  }



  .flex-container .three {
    flex: 1 -1 0%;
    height: 530px;
    
  
    flex-basis: 10px;
    background-color: rgb(206, 187, 22);
    border-color: rgb(253, 253, 253);
  }

      
      /* flex: grow shrink basis
     */

     .flex-container .one{
        height: 100px;
        
      }

      .flex-container .five{
        height: 20px;
        
      }
  
  .flex-container .three2{
    margin: 20px;
    flex-basis: 1px;
    flex-grow: 1px;
    flex-shrink: 1px;
    height: px;
    background-color: rgb(63, 62, 62);
  }
  .flex-container .three .three3{
    background-color: white;
    margin: 10px;
    flex-basis: 1px;
    flex-grow: 1;
    flex-shrink: 100px;
    height: 100px;
border-color: white;
  }



  .flex-container .three .threetop{
    background-color: white;
    
    margin-left: 10px;
    margin-right: 10px;
    flex-basis: 1px;
    flex-grow: 1;
    flex-shrink: 100px;
    height: 130px;
    border-color: white;
    margin-bottom: 20px;
  }


  .flex-container .three .threebottom{
    background-color: white;
    margin: 13px;
    flex-basis: 1px;
    flex-grow: 1;
    flex-shrink: 100px;
    height: 130px;
    border-color: white;

  }


  .ax{
      margin: 40px;
    justify-content: center;
    text-align: center;
    align-items: center;
  }