.header{
    display: flex;
   
    justify-content: space-evenly;
    text-align: center;
}



.leftheaders{
    flex: 1 0 0;
    max-width: 130%;
    margin-right: 20px;



}
.leftHeaderLinks{
    flex: 1;
    color: white;
    font-weight: 900;
    font-size: 24px;
    text-decoration: none;
    float: left;
    margin-left: 110px;
    
}


.rightheaders{
flex: 1 0 0;
margin-right: 50px;

}

.rightHeaderLinks{
color: white;
padding-right:10px;
padding-left: 10px;
text-decoration: none;
font-size: 18px;
}

.flexContainierThisIsAwesome{
    display: flex;
    flex-direction: row;


    justify-content: space-evenly;
}


.topSection{
    background-color: #1F2937 ;
}

.thisIsAwesome{
    flex: 1 0 0;
    
    color: white;
    max-width: 30%;
  
 
}
.awesomeBox1{

    font-size: 200%;
    font-weight: 900;
   
}
.awesomeBox2{
  
    font-weight: 1;
    color: white;
    mix-blend-mode: luminosity;
}
.pictureBox{
    flex: 1;
    max-width: 35%;
    
}

.pictureDroogle{
    background-color: grey;
    width: 120%;
    height: 180px;
    text-align: center;
    float: left;
    margin-left: -60px;
}
.someRandomInfo{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    max-width: 80%;
}
.box{
    border-style: inset;
    border-color: blue;
    border-radius: 10px;
    
    
    width: 110px;
    height: 110px;
}

.userTestBox{
    justify-content: center;
    background-color: #E5E7EB;
    height: 300px;
    width: auto;
    display: flex;
}

.userTest{
    font-size: 140%;
    margin-top: 100px;
    max-width: 65%;
    
}

.bottomBoxContainer{

    
    display: flex;
    align-items: center;
    justify-self: center;
    align-content: center;
     max-width: 30%;
}
.bottomBox{
    display: flex;
   height: 120px;

    
    margin: 120px;
    background-color: #3882F6;
    border-radius: 5px;
   
}

.callBox{
   
    margin-left: 40px;
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 120%;
    padding: 50px;
}