.container{
    display: flex;
    justify-content: center;
}


.box{
    flex: 1;
    justify-self: center;
    border-style: inset;
    border-Color: #808080;
    border-Width:1px;
    height:20px;

}


.box:hover{
    background-color:black;
   

}

.body{
    
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: grey;
}