.container{

}


.box{
  
    border-color: black;

    border-Width:1px;
    height:18px;

}


.box:hover{
    background-color:black;
   

}

.body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:1600px;
    margin: auto;
    background-color: black;
}